[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
streamlit = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
